@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(d.jpg); no-repeat;
        background-size: cover;
    }

.log{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;    
}

.log h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid lawngreen;
    margin-bottom: 50px;
    padding: 13px 0;
        
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid forestgreen;    
}

